<h1>Ng model</h1>
<p>Nombre {{ person.nombre }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.nombre">
<p class="input-error" [class.active]="nameInput.invalid">Valid: {{ nameInput.valid }}</p>
<input type="number" required max="100" min="6" #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ ageInput.valid }}</p>
<p *ngFor="let name of names">{{ name }}</p>
<p [style.font-style]="nameInput.invalid ? 'italic' : 'normal'">Cambia</p>
<app-product></app-product>

<!-- NGCLASS Y NGSTYLE -->
<div class="ng-style-class">
  <div class="d-flex">
    <div class="flex-col">
      <input type="number" [(ngModel)]="box.width">
      <input type="number" [(ngModel)]="box.height">
      <input type="color" [(ngModel)]="box.background">
    </div>
    <div>
      <div [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        'display': 'block'
      }"></div>
    </div>
  </div>
</div>
<hr>
<!-- FORMULARIO BÁSICO -->
<h2>Formulario básico</h2>
<div (ngSubmit)="submitLogin()" class="form">
  <form #basicForm="ngForm">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input #formName="ngModel" required [(ngModel)]="form.name" type="text" name="name">
      <span *ngIf="formName.touched && formName.invalid" [class.invalid]="formName.invalid">Campo invalido</span>
    </div>
    <div class="form-group">
      <label for="mail">Correo electrónico</label>
      <input #formMail="ngModel" required [(ngModel)]="form.mail" type="email" name="mail">
      <span *ngIf="formMail.touched && formMail.invalid" [class.invalid]="formMail.invalid">Campo invalido</span>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input #formPass="ngModel" required [(ngModel)]="form.pass" type="password" name="password">
      <span *ngIf="formPass.touched && formPass.invalid" [class.invalid]="formPass.invalid">Campo invalido</span>
    </div>
    <button [class.disabled]="basicForm.invalid" [disabled]="basicForm.invalid" type="submit">Entrar</button>
  </form>
</div>
