<input type="text" name="" id="" [(ngModel)]="title">
{{ title }}
<input type="text" [ngModel]="apellido">
<h2>Tu apellido es: {{apellido}}</h2>
<div *ngIf="title === ''; else ifNotDone">
  Dejaste el campo vacío
</div>
<ng-template #ifNotDone>Esto se muestra cuando no esté vacio</ng-template>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'sergio'">Estas viendo a sergio</p>
  <p *ngSwitchCase="'andres'">Estas viendo a andres</p>
  <p *ngSwitchCase="'valeria'">Estas viendo a valeria</p>
  <p *ngSwitchDefault>No hay coincidencia</p>
</div>

<button (click)="addItem()">Add</button>
<ul>
  <li *ngIf="items.length === 0">La lista de nombres está vacía</li>
  <li *ngFor="let item of items; index as i">
    {{item}} {{ i }}
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  <h2>{{ product.title }}</h2>
  <img [src]="product.image" [alt]="product.title" style="width: 200px; height: 200px;">
  <span>{{ product.price }}</span>
</div>
